:root {
    /* Some colors */
    --primary: #16506E;
    --secondary: #C53DCC;

    /* Some dimensions */
    --mainDistance: 2rem;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font: 10px sans-serif;
    background-color: black;
    padding: 0;
    margin: 0;
}

#pageWrapper {
    max-width: 1200px;
    background-color: white;
    margin: 0 auto;
}


/* Header-Styling ########################################################## */

#pageHeader {
    color: white;
    background-color: var(--primary);
    padding: calc(var(--mainDistance) / 2);
}

#headerTitle {
    font-size: clamp(2rem, 5vw, 4rem);
    margin: .25em 0;
}

#headerSubtitle {
    font: bold small-caps 1rem sans-serif;
    margin: 0;
}


/* Main-Navigation-Styling ################################################# */

/* Implement styling here if neccessary ... */


/* Main-Styling ############################################################ */

main {
    font-size: 1.2rem;
    background-color: white;
    padding: 0 calc(var(--mainDistance) / 2);
}

.mainContent {
    padding: 0 calc(var(--mainDistance) / 2);;
    border: solid thin var(--primary);
    border-radius: calc(var(--mainDistance) / 2);
    margin: var(--mainDistance) 0;
}

.sectionTitle {
    color: var(--primary);
}

h1 {
    font: small-caps clamp(1.5em, 5vw, 3em) sans-serif;
}

.sectionSubtitle {
    font: italic bold 1em sans-serif;
}

h2 {
    font: small-caps clamp(1.25em, 5vw, 2.5em) sans-serif;
}

.sectionContentText table {
    width: 100%;
    font-size: clamp(1.25rem, 5vw, 2rem);
    border-spacing: 0;
    margin: 0 auto;
}

.sectionContentText tr {
    width: 100%;
}

.sectionContentText tr:nth-child(even) td {
    border-top: solid .25rem var(--primary);
    border-bottom: solid .25rem var(--primary);
}

.sectionContentText th,
.sectionContentText td {
    width: 20%;
    text-align: center;
    padding: .5rem;
}

.sectionContentText th {
    color: white;
    background-color: var(--primary);
}

.tdMark1 {
    background-color: lightcyan;
}

.tdMark2 {
    background-color: lightgoldenrodyellow;
}

.tdMark3 {
    background-color: lightpink;
}

.importantInfo {
    font-size: 1.5rem;
    background-color: beige;
    padding: .5rem;
}

.demoBox {
    border: solid thin var(--primary);
    border-radius: calc(var(--mainDistance) / 2);
    margin: calc(var(--mainDistance) / 2) 0;
    overflow: hidden;
}

.demoBoxHeader {
    background-color: var(--primary);
    padding: calc(var(--mainDistance) / 2);
}

.artTitle {
    color: white;
    font: small-caps clamp(1.25em, 5vw, 2em) sans-serif;
    margin: .5em 0;
}

.artSubtitle {
    color: white;
}

.sandboxContainer {
    padding: calc(var(--mainDistance) / 2);
}

.elementInfo {
    background-color: beige;
    font-size: 1rem;
    padding: .5rem;
    margin: 1rem 0 2rem 0
}

code {
    font-weight: bold;
}


/* Custom-Audio-Controls */
.infoOutput {
    width: 3rem;
}


/* Video-Styling ########################################################### */
.bsplV {
    width: clamp(15rem, 100%, 100%);
}


/* Footer-Styling ########################################################## */
#pageFooter {
    height: 3rem;
    background-color: var(--primary);
}