
.controlContainer {
    display: flex;

    gap: .5rem;
    margin: 2rem 0;
}

.customAUIEl {
    display: inherit;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--primary);
    padding: 1rem;
    border-radius: .5rem;
}

.cButton {
    cursor: pointer;
}

.cAUIEtext {
    text-align: center;
}

.cAUIEimg {
    width: 1rem;
    height: 1rem;
    pointer-events: none;
}

.cSliderContainer {
    display: inherit;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.cdSlider {
    -webkit-appearance: none;
    width: 100%;
    height: .5rem;
    padding: 0;
}
.cdSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    background-color: var(--secondary);
    border-radius: 50%;
    cursor: pointer;
}

.cInfoOutput {
    min-width: 9rem;
}